{{#partial "styles"}}
    <link rel='stylesheet' href='/css/styles.css'>
{{/partial}}
{{#partial "content"}}
    <h1>Add a Sighting</h1>

    <form action="/sighting" method="post">
        <div class="form-group md-form">
            <select class="browser-default custom-select" id="animalId" name="animalId">
                <option selected>Open this select animal</option>
                {{#each endangered}}
                    <option value="{{id}}">{{id}}.{{name}}</option>
                {{/each}}
                {{#each animals}}
                    <option value="{{id}}">{{id}}.{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group md-form">
            <input placeholder="location" id="location" name="location" type="text" class="form-control">
        </div>
        <div class="form-group md-form">
            <input placeholder="Ranger name" id="rangerName" name="rangerName" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-dark-green">Add Sighting</button>
    </form>
{{/partial}}
{{> layout.hbs}}